body {
  background-color: aqua;
  text-align: center;
}
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(243, 80, 4);
}
p {
  background-color: rgb(226, 80, 255);
  color: aliceblue;
  font-size: xx-large;
}
